# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/main/main/main/resources/assets/unearthed/textures/block/ore_aseprite/
/main/libs/
/Fabric/lib/
/Forge/lib/
